body,
html{
    min-height: 100%;
}
body {
    background-image: url("/images/zelda2.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}
h1 {
    font-size: larger;
}

label {
    display: block;
    float: left;
    width: 100px;
    font-weight: bold;
}

input {
    border-radius: 3px;
    margin: 2px;
}

