{% extends 'header.html' %}
{% block body %}

    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='resultstyle.css') }}">
    </head>

    <form>
        <table class="sturdy">
            <td></td>
            <td>

                <section style="text-align: center">
                         {{ error }}
                </section>

                <div id="ng-ng">
                    <p></p>
                    <h6 style="text-align: center; font-size: 30px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;">{{ game_name }}</h6>
                    <p></p>
                    <b>GAME:</b> {{ game_name }}
                    <br>
                    <br>
                    <b>SUMMARY:</b> {{ summary }}
                    <br>
                    <br>
                    <b>RATING:</b> {{ rating }}
                    <br>
                    <br>
                    <b>DEVELOPERS:</b> {{ developers }}
                    <br>
                    <br>
                    <b>GENRE:</b> {{ genre }}
                    <br>
                    <br>
                    <b>COVER ART:</b> <img src="{{ cover }}" height="400" width="400" >
                    <br>
                    <br>
                    <b>SCREENSHOTS:</b> <img src="{{ screenshot_one }}" height="500" width="500"> <img src="{{ screenshots_two }}">
                    <br>

                </div>
            </td>
            <td></td>
        </table>
    </form>

{% endblock %}