{% extends 'header.html' %}
{% block body %}
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='resultstyle.css') }}">
    </head>

    <form>
        <table class="sturdy">
            <td></td>
            <td>

                <section style="text-align: center">
                         {{ error }}
                </section>

                <div id="ng-ng">
                    <p></p>
                    <h6 style="text-align: center; font-size: 30px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;">{{ game_name }}</h6>
                    <p></p>
                    GAME: {{ game_name }}
                    <br>
                    <br>
                    SUMMARY: {{ summary }}
                    <br>
                    <br>
                    RATING: {{ rating }}
                    <br>
                    <br>
                    DEVELOPERS: {{ developers }}
                    <br>
                    <br>
                    GENRE: {{ genre }}
                    <br>
                    <br>
                    COVER ART: <img src="{{ cover }}" height="200" width="200">
                </div>
            </td>
            <td></td>
        </table>
    </form>

{% endblock %}